@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
.line {
    width: 2000px;
    height: 2px;
    background-color: black;
    margin-top: 20px;
}
.card {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.navbar .nav-link {
    font-size: 25px;
}
.carousel-control-prev-icon {
    width: 40px;
    height: 15px;
}
.nav-link {
    font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
    white-space: nowrap;
}
.navbar-nav {
    flex-direction: row;
    margin-left: auto;
}